
<!doctype html>

<html lang="en"> 

   
   
   <head>
     <title>
       Weather Application
     </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  
  
  <!-- body section-->
  {% load static %}
    <body style="background-image:url({% static "images\sun.gif" %}); background-attachment:fixed;background-repeat:no-repeat; background-position:1% 50%;height:2000px;">

   
  <div  class = "container-md" style="border-radius:20px;height:150px;margin-top:20px;width;background-image:url({% static "images\weathericon.png" %});position:sticky">
   <div class="form-group" >
    <form action="add" method="POST">{% csrf_token %}
	<label for="cityname" style="color:white" >CITY NAME</label>
 <!--   <input type="textarea" class="form-control" id="cityname" aria-describedby="emailHelp"> -->
    <div class="control is-expanded">
                                {{ form.name }}
    </div>
    <small id="emailHelp" class="form-text text-muted">Spell Check the name of the city.</small>
    <input class="btn btn-primary" style="color:green;background-color:white;" type="submit" value="ADD">
    </form>
   </div>
  </div>
  <!-- cards for temperature display-->

   {% for i in objects%}

  <div style="margin-left:350px ; margin-top:10px;">
    <div class="card" style="width: 60%;background-color:#FCFFCA;" >
     <div class="card-body">
       <h5 class="card-title">{{i.name}}</h5>
       <h6 class="card-subtitle mb-2 text-muted">{{i.temperature}}</h6>
       <p class="card-text">{{ i.condition }}</p>
       <img src="http://openweathermap.org/img/w/{{ i.image }}.png" alt="Image" style="float:right" >
       <a class="btn btn-primary" href="{% url 'delete' i.name %}" role="button">DELETE</a>
     </div>
   </div>
  </div>
  {% endfor %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
 
 <!--body section ends-->
 
</html>